@model SpaceMVC.Models.Item

@{
    ViewData["Title"] = "SpaceCat";
}

<div class="text-center">
    <h1 class="display-4">This is SpaceCat</h1>
</div>

<p>@ViewBag.nameoutput Fyll i och klicka på lägg till.</p>

<form method="post">
    <div class="form-group">

        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Movie"></label>
        <br />
        <select class="form-select" name="Movie">
            <option selected>Pelle Svanslös</option>
            <option value="Katter med klös">Katter med klös</option>
            <option value="A Street Cat Named Bob">A Street Cat Named Bob</option>
            <option value="E.T. the Extra-Terrestrial">E.T. the Extra-Terrestrial</option>
        </select>
    </div>


    <div class="form-group">
        <label asp-for="Drink"></label>
        <br />
        @Html.RadioButton("Drink", "rootbeer") Rootbeer
        <br />
        @Html.RadioButton("Drink", "Loka Crush(päron)") Loka crush(päron)
        <br />
        @Html.RadioButton("Drink", "milk") Milk
        <br />
        @Html.RadioButton("Drink", "öl") Öl
        <br />
        <span asp-validation-for="Drink" class="text-danger"></span>

    </div>
    <div class="form-gruop">
        <label>Nedan följer en lista med raser. Vilka av dom är kattraser?</label>
        <br />
        <input asp-for="AmericanCream">American Cream
        <br />
        <input asp-for="AmericanCurl">American Curl
        <br />
        <input asp-for="Balines">Balines
    </div>
    <button type="submit" class="btn btn-primary">Lägg till</button>
</form>

<partial name="_EndTagsPartial" />